
* {
    box-sizing: border-box;
    position: relative;
}

body {
    width: auto;
    height: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
        margin-left: 30px;
	font-weight: 500;
	line-height: 25px;
}

p {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-left: 35px;
}

img {
    padding: 0px;
    height: 238.4px;
    width: 200px;
    display: block;
    margin-left: 30px;
    margin-top: 20px;
}

/* link colors */

a:link {
	color: #ffd700;
}

a:visited {
	color: #ffd700;
}

a:hover {
	color: #9932cc;
}

a:active {
	color: #9932cc;
}

.topbar {
    background-color: rgba(0, 0, 0, 1.0);
    overflow: hidden;
}


.topbar a {
    float: right;
    display: block;
    color: #9932cc;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    margin-right: 10px;

}

.topbar a:visited {
    color: #9932cc;
}

.topbar a:hover {
    color: #ffd700;
}

.topbar a:active {
    color: #ffd700;
}

.topbar b {
    float: left;
    display: block;
    color: #9932cc;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
}

.topbar b:visited {
    color: #9932cc;
}

.topbar b:hover {
    color: #ffd700;
}

.topbar b:active {
    color: #ffd700;
}

h2 {
    font-family: sans-serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    margin-left: 20px;
}

c {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-left: 25px;
}



