* {
    box-sizing: border-box;
    position: relative;
}

.body {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url(background.png);
    background-size: cover;
}

.topbar {
    background-color: rgba(0, 0, 0, 0.0);
    overflow: hidden;
}


.topbar a {
    /*Puts the options to the right*/
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 25px;
    /*Move the options in the center*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.topbar a:hover {
    background-color: #9932cc;
    color: #ffd700;
}

.topbar a.active {
    background-color: #9932cc;
    color: #ffd700;
}

.topbar .icon {
    display: none;
}

b {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
}
