* {
    box-sizing: border-box;
    position: relative;
}

.body {
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(background.png);
    background-size: cover;
}

.topbar {
    background-color: rgba(0, 0, 0, 1.0);
    overflow: hidden;
}


.topbar a {
    /*Puts the options to the right*/
    float: right;
    display: block;
    color: #ffd700;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    /*Move the options in the center*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.topbar a:hover {
    color: #9932cc;
}

.topbar a.active {
    color: #9932cc;
}

.topbar .icon {
    display: none;
}

.topbar b {
    float: left;
    display: block;
    color: #9932cc;
    text-align: center;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-variant: normal;
    /*Move the options in the center*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.topbar b:hover {
    color: #ffd700;
}

.topbar b.active {
    color: #ffd700;
}

.topbar .icon {
    display: none;
}

h1 {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
        margin-left: 30px;
	font-weight: 500;
	line-height: 25px;
}

p {
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-left: 35px;
}

h2 {
	color: #ffd700;
	font-family: sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 25px;
	margin-left: 30px;
}

img {
    padding: 0px;
    height: 238.4px;
    width: 200px;
    display: block;
    margin-left: 30px;
    margin-top: 20px;
}

h2:link {
	color: #ffd700;
}

h2:hover {
	color: #daa520;
}

h2:active {
	color: #9932cc;
}

h2:visited {
	color: #9932cc;
}
